 <header>
        <nav>
            <div class="header-container">
            <h1 id="title" ><a href="/">Bienvenue au jeu Lego</a></h1>
            <a id="profil" href="/VoirEchangeUtilisateur">Profil</a>

            </div>
        </nav>
    </header>