 <table id="brique-table">
            <tr>
                <th scope="col">Nom de la Brique</th>
                <th scope="col">Image</th>
                <th scope="col">Valeur</th>
                <th scope="col">Quantité</th>
            </tr>
        </table>
