 <div id="contenant">
        <form id="form-echange">
            <table id="brique-table">
                <tr>
                    <th>Nom de la Brique</th>
                    <th>Image</th>
                    <th>Valeur</th>
                    <th>Quantité</th>
                </tr>
            </table>


            <label for="nom-echange">Nom de l'échange:</label>
            <input type="text" id="nom-echange" required><br>
            <button type="submit" id="submit-button">Soumettre l'échange</button>
        </form>
    </div>