#contenant {
    gap: 1rem;
    max-width: 110rem;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#brique-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0, auto;

}

#brique-table th, #brique-table td {
    border: 2px solid #ddd;
    padding: 8px;
    max-width: 900px;
    text-align: center;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;  
}



html {
    box-sizing: border-box;
    /*empecher le scroll de droite a gauche!!!*/
    overflow-x: hidden;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}



header, footer {
    background-color: #cbcbcb;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

img {
    width: 90px;
    height: auto;
}
input[type="number"] {
    width: 100px;
}

input[type="text"]{
    width: 350px;
    padding: 5px;
}