
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Protest+Riot&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Oswald", Arial;
    background-image: url('../assets/background4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header, footer {
    padding: 10px;
    /* background-color: #979595; */
    text-align: center;
    color: white;
   
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    /* max-width: 25rem; */
    margin: 0 auto;
    padding: 1rem;
}

/* //// */
#echange_table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.4); /* Fond blanc semi-transparent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  
}

#echange_table th,
#echange_table td {
 
    padding: 8px;
    text-align: left;
    
}

#echange_table th {
    font-weight: bold;
    color: #333;
    background-color: #98c09e;
     border-radius: 8px;  
}



#echange_table tbody tr:hover {
    background-color: #98c09e;
}

a {
    display: inline-block;
    /* margin-top: 10px; */
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}



a:hover {
    background-color: #45a049;
}

#title ,#profil{
  display: inline-block;
  margin: 0;
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    
}
#title {
    display: inline-block;
    /* margin-top: 10px; */
    /* padding: 8px 16px; */
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 350;
}
#github{
    background-color: transparent; /* Aucune couleur de fond */
    color: inherit;
    padding: 0; 
}
#github:hover {
    background-color: #98c09e;
}
#btn_creerEchange{
    text-align: center;
}